body {
  background-color: #bfdcae;
}

hr {
  border-color: #206a5d;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #206a5d;
  text-decoration: solid underline #810000 3px;
}

h3 {
  color: #206a5d;
}

img:hover {
  background-color: gold;
}
